*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
/docs/build/
/docs/site/
*svg
symmetryTesting.jl
boundaryConditions.jl
*~
*.dir-locals.el
.juliahistory
*#*#
ShatteringExamples/__pycache__/
ShatteringExamples/coeffPlots
ShatteringExamples/*pdf
debugging.jl
*tmp*
test/reconstructSquareAbs.pdf