name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10' # LTS
          - '1'    # Latest Stable
        os:
          - ubuntu-latest
          - windows-latest
          - macos-15-intel # Intel x64
          - macos-latest   # Apple Silicon
        arch:
          - x64
          - aarch64
        exclude:
          - os: ubuntu-latest
            arch: aarch64
          - os: windows-latest
            arch: aarch64
          - os: macos-15-intel
            arch: aarch64
          - os: macos-latest
            arch: x64

    steps:
      - uses: actions/checkout@v4

      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - uses: julia-actions/cache@v2

      # --- INSERT THIS NEW BLOCK HERE ---
      - name: Configure Git to use HTTPS
        run: |
          git config --global url."https://github.com/".insteadOf "git@github.com:"
      # ----------------------------------

      # FIX IS HERE: Correct indentation for multi-line block
      - name: Add Registries
        shell: julia --project={0} {0}
        run: |
          using Pkg
          Pkg.Registry.add(RegistrySpec(name="General"))
          Pkg.Registry.add(RegistrySpec(url="https://github.com/UCD4IDS/TetrapodsRegistry"))

      - uses: julia-actions/julia-buildpkg@v1

      - uses: julia-actions/julia-runtest@v1
        env:
          GKSwstype: "100"

      - uses: julia-actions/julia-processcoverage@v1

      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false

